body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column; /*задает направление элементам (ну или определяет основную ось хз)*/
    justify-content: center; /*располагает элементы соответственно команде flex-direction по осн оси(ну или располагает эл- по осн оси хз)*/ 
    align-items: center; /*вспомогательная ось*/ 
    background-image: url("../img/Image_фон.png");
    width: 1800px;
    height: 904px;    
    margin: 48px 50px 149px;
    position: relative;
}
h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 72px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

span {
    color: white;
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.8;
    font-weight: 300;
}

.nav {
    margin: 0px;
    position: absolute;
    list-style: none;
    text-transform: uppercase;
    color: white;
    top: 79px;
    right: 312px;
    
}

.nav a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: white;
}

.nav li {
    display: inline-block;
    margin-right: 58px;
    letter-spacing: 3px;
 } 

.nav hr {
    border-color: lightgreen;
 }

.slide {
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.slide a {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 18px;
    opacity: 0.43;
    margin-right: 9px;
}

.slide li {
    display: inline-block;
    position: relative;
}

.active a {
    font-size: 36px;
    opacity: 1;   
    display: block;
    margin-bottom: -25px; 
    margin-right: 9px;
}

.active hr {
    border-color: green;
    margin: 0;
    width: 75%;
    border-top: none;
}

.active hr:last-child {
    position: absolute;
    border-color: green;
    width: 20%;
    top: 95%;
    border-top: none;
    border-left: none;
}

/*верстка первой секции*/

.section_one {
    display: flex;
    width: 1182px;
    height: 559px;
    border: 1px solid rgb(0, 0, 0);
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin: 149px 315px;
}

.section_one img {
    width: 309px;
    height: 391px;
    position: absolute;
    top: 168px;
    right: 260px;
}



.section_one img:nth-child(3) {
    width: 309px;
    height: 418px;
    position: absolute;
    top: 62px;
    left: 403px;
    bottom: 49px;
}

.section_one img:nth-child(4) {
    width: 309px;
    height: 391px;
    position: absolute;
    left: 193px;
    bottom: 168px;
    top: 0;
}

.text {
    color: black;
    opacity: 0.63;
    vertical-align: top;
    white-space: pre-wrap;
}

h2 {
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 77px;
}

h3 {
    margin: 0px;
    padding: 0px;
    color: #504e4e;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
}

.paragraph_line {
    display: inline-block;
    width: 20px;
    border: 1px solid black;
    margin-top: 7px;
    margin-right: 10px;
}

.line {
    position: absolute;
    left: 21px;
    top: 219px;
    padding-top: 0px;
}

.line_2 {
    position: absolute;
    padding-top: 0px;
    right: 0px;
    bottom: 80px;
}

/*вторая секция*/

.section_two {
    display: flex;
    color: #979797;
    width: 1800px;
    height: 690px;
    border: 1px solid rgb(0, 0, 0);
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin: 116px 50px;
}

h4 {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 135px;
    left: 315px;
    color: black;
}

.border_line1, .box_line {
    display: inline-block;
    width: 45px;
    border: 1px solid black;
    margin-top: 207px;
    left: 315px;
    position: absolute;
}

.box {
    display: inline-block;
    border: 1px solid black;
    width: 373px;
    height: 260px;
    position: absolute;
    left: 315px;
    top: 294px;
}

h5 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    margin: 0px;
    left: 44px;
    color: black;
}

.box_text {
    font-size: 12px;
    color: black;
    position: absolute;
    left: 43px;
    top: 116px;
    right: 49px;
    margin: 0px;
}

.box_line {
    width: 35px;
    position: absolute;
    top: 95px;
    left: 44px;
    margin: 0px;;
}

.box_button {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: lighter;
    position: absolute;
    left: 44px;
    bottom: 35px;
    color: grey;
    border: 0px;
    margin: 0px;
}

.square {
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 48px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0px #dbdbdb;
}

.section_two img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 61px;
    right: 57px;
}







    
